Package: libstatusbar8
Name: libstatusbar (efrederickson)
Provides: libstatusbar
Replaces: libstatusbar
Conflicts: libstatusbar
Depends: mobilesubstrate
Version: 1337
Architecture: iphoneos-arm
Description: Improved libstatusbar
Depiction: http://elijahandandrew.com/repo/depictions/Libstatusbar/
Maintainer: Elijah Frederickson <elijah.frederickson@gmail.com>
Author: phoenix3200 & Elijah Frederickson <elijah.frederickson@gmail.com>
Section: Tweaks
