Package: libstatusbar9
Name: libstatusbar (Shade Zepheri)
Provides: libstatusbar
Replaces: libstatusbar
Conflicts: libstatusbar
Depends: mobilesubstrate, com.rpetrich.rocketbootstrap
Version: 0.5
Architecture: iphoneos-arm
Description: Improved libstatusbar
Maintainer: Shade Zepheri <ziroalpha@gmail.com>
Author: phoenix3200 & Elijah Frederickson & Shade Zepheri <ziroalpha@gmail.com>
Section: Tweaks
